.app {
  text-align: center;
  padding: 0px 32px;
  width: 100vw;
}
.app_nav {
  display: flex;
  align-items: center;
  width: 100%;
  text-align: center;
  gap: 20%;
}
.app_logo {
  height: 32px;
  justify-self: flex-start;
}
.app_title {
  display: flex;
  justify-items: center;
}
